.center_content {
  min-height: 100vh;
  background-color: #fff;
}

#root {
  height: 100%;
}

li {
  display: inline-block;
  list-style: none;
}

a {
  color: #666;

  &:hover {
    color: #5d5fef;
  }
}

ul {
  margin: 0;
  padding: 0;
}

:global {
  .t-button--variant-base.t-button--theme-primary:not(.t-is-disabled):not(.t-button--ghost) {
    --ripple-color: #4a36ff !important;
  }
}
