.tab_list {
  ul {
    width: 1000px;
    margin: 0 auto;

    li {
      display: inline-block;
      height: 40px;
      margin-right: 10px;
      line-height: 40px;
      list-style: none;
    }
  }
}
